# Quarkus HTTP Port configuration (maps to quarkus.http.port)
QUARKUS_HTTP_PORT=8085

# Logging Configurations (maps to quarkus.log.level and category levels)
QUARKUS_LOG_LEVEL=INFO
QUARKUS_LOG_CATEGORY__COM_MANIPAL__LEVEL=DEBUG

# HL7 MLLP Configuration (maps to hl7.mllp.enabled and hl7.mllp.port)
HL7_MLLP_ENABLED=true
HL7_MLLP_PORT=2575

# Kafka Configuration (maps to kafka.brokers, kafka.topic and kafka.concurrent.consumers)
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=hl7-messages
KAFKA_CONCURRENT_CONSUMERS=5
