# Server Port for HTTP REST API endpoint
HTTP_PORT=8080

# Global logging level (DEBUG, INFO, WARN, ERROR)
QUARKUS_LOG_LEVEL=INFO

# HL7 MLLP Server Configuration (TCP Listener)
HL7_MLLP_ENABLED=true
HL7_MLLP_PORT=2575

# Kafka Configurations
# Comma-separated list of Kafka broker addresses
KAFKA_BROKERS=localhost:9092
# The topic to which incoming HL7 messages will be forwarded
KAFKA_TOPIC=hl7-messages
# Number of concurrent threads sending messages to Kafka from the memory queue (SEDA)
KAFKA_CONCURRENT_CONSUMERS=5
